html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Verdana, Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

/* body div,
.header div,
.one div {
  padding: 0 100px;
} */

.header {
  width: 100%;
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

/* container for a container */

.header-logo {
  font-size: 24px;
  font-weight: 550;
  color: #F9FAF8;
}

.header-link {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: #E5E7EB;
  display: flex;
  justify-content: space-between;
}

.header-link-child {
  padding-left: 25px;
}

.main-child {
  flex: 1 1 auto;
}


.one {
  background-color: #1F2937;
  width: 100%;
  display: flex;

}

.one-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
}


.hero-main {
  font-size: 48px;
  font-weight: 700;
  color: #F9FAF8;
}

.hero-secondary {
  color: #E5E7EB;
}

button {
  color: #F9FAF8;
  background-color: #3882F6;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
}

.css-button {
  margin-top: 10px;
}

.hero-left,
.hero-image {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-image {
  background-color: gray;
  padding: 115px 35px;
  color: white;
}

.two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.two-top {
  font-size: 28px;
  font-weight: bold;
  padding: 20px;
}

.two-bottom {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.two-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.two-bottom-image-container {
  border: 3px solid #3882F6;
  border-radius: 9px;
  height: 110px;
  width: 110px;
  padding: 10px;
  /* display: flex;
  flex-direction: row; */
}

.two-bottom-text {
  width: 103px;
  font-size: 13px;
  margin-top: 7px;
}


.three {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20%;
  
}

.three-quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  
  
}

.three-author {
  font-size: 18px;
  font-weight: bold;
  align-self: flex-end;
  
}

.four {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.four-container {
  background-color: #3882F6;
  color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 64px 150px; */
  border-radius: 10px;
  padding: 5% 15%;
  width: 45%;
    
}

.four-text {
  width: 80%;
}

.four-big-text {
  font-size: 19px;
  font-weight: bold;
}

.four-small-text {
  font-size: 14px;
}

.four-button {
  border: 1px solid #F9FAF8;
  border-radius: 5px;
    
}

.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}